<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .eventDetails button {
            border: groove black 1px;
            border-radius: 10px;
        }
        .venueDetails button {
            border: groove lightblue 1px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .displayEvents button {
            border: groove lightblue 1px;
            border-radius: 10px;
        }
        .displayInfo button {
            border: groove black 1px;
            border-radius: 10px;
        }
        .displayInfo {
            text-align: center;
            background-color: lightblue;
            color: black;
            border: groove black 2px;
            border-radius: 20px;
            overflow: hidden;
            padding: 20px;
        }

        .event h4 {
            font: bold;
        }

        #carousel {
            height: 300px;
        }

        .type {
            background-color: white;
            text-align: center;
        }

        .eventDetails {
            border: groove black 2px;
            border-radius: 20px;
            padding: 10px;
            padding-bottom: 0;
            overflow: hidden;
            margin-top: 15px;
            padding-left: 25px;
            background-color: white;
        }

            .eventDetails dd {
                margin-bottom: 8px;
            }

            .eventDetails p {
                color: white;
            }

        .venueDetails {
            border: groove black 2px;
            border-radius: 20px;
            padding: 10px;
            padding-bottom: 0;
            overflow: hidden;
            margin-top: 15px;
            padding-left: 25px;
            background-color: white;
        }

        .venueDetails dd {
            margin-bottom: 8px;
        }

        .venueDetails p {
            color: white;
        }

        .carouselDetails {
            border: groove black 2px;
            border-radius: 20px;
            padding: 10px;
            padding-bottom: 0;
            overflow: hidden;
            margin-top: 15px;
            padding-left: 25px;
            background-color: white;
            display: inline-block;
            justify-content: center;
            padding-right: 20px;
            text-align: center;
        }
        .displayEvents {
            border: groove black 2px;
            border-radius: 20px;
            padding: 10px;
            padding-bottom: 0;
            overflow: hidden;
            margin-top: 15px;
            padding-left: 25px;
            background-color: white;
        }

        .displayEvents dd {
            margin-bottom: 8px;
        }

        .displayEvents p {
            color: white;
        }

        body {
            background-color: silver;
        }
        .carousel{
            margin-bottom: 25px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Decker Deals", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Events", "Index", "Event")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Venues", "Index", "Venue")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Decker Deals Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
