@model RedBadge.Models.TicketDetails

@{
    ViewBag.Title = "Details";
}
    <div class="venueDetails">
        <h2>Ticket Details</h2>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TicketId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>
        </div>
        <p>
            <button type="button" class="btn btn-secondary btn-sm">@Html.ActionLink("Back To List", "Index")</button>
            @{

                if (User.IsInRole("Administrator"))
                {
                    <button type="button" class="btn btn-default btn-sm">@Html.ActionLink("Edit", "Edit")</button>
                }
            }
        </p>
    </div>