@model RedBadge.Models.VenueDetails

@{
    ViewBag.Title = "Details";
}
    <div class="venueDetails">
        <h1>@Html.DisplayFor(model => model.VenueName)</h1>

        <div style="display: flex; justify-content: flex-start; width: 100%;">
            <div class="venueImage">
                <img class="img-responsive" style="cursor:pointer; height:160px; max-width: 100%; margin-right: 40px" src="~/@Html.DisplayFor(model => model.Image)" />
            </div>
            <div class="venueInfo" style="display: flex; justify-content: space-between; margin-right: 40px">
                <div>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.VenueId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VenueId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.VenueName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VenueName)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="venueInfo" style="display: flex; justify-content: space-between; margin-right: 40px">
                <div>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.StreetNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StreetNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.City)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.City)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.State)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.State)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ZipCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ZipCode)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="venueInfo" style="display: flex; justify-content: space-between; margin-right: 40px">
                <div>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Seats)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Seats)
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <p>
            <button type="button" class="btn btn-secondary btn-sm">@Html.ActionLink("Back To List", "Index")</button>
            @{

                if (User.IsInRole("Administrator"))
                {
                    <button type="button" class="btn btn-default btn-sm">@Html.ActionLink("Edit", "Edit")</button>
                }
            }
        </p>
    </div>
<div class="venueDetails">
    <h1>Events</h1>
    <hr />
    @*<table class="table">
        <tr>
            <td>
                Event ID
            </td>
            <td>
                Event
            </td>
            <td>
                Venue
            </td>
            <td>
                Location
            </td>
            <td>
                Date
            </td>
            <td>
                Price
            </td>
        </tr>

        @foreach (var item in Model.AllEvents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Purchase", "Create", "Ticket")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId }) |
                </td>
            </tr>
        }

    </table>*@
    @foreach (var item in Model.AllEvents)
    { 
        <div class="event">
            <div class="col-med-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
                <div class="displayInfo">
                    <div class="thumbnail event-item" style="height: 300px">
                        <img class="img-responsive" style="cursor:pointer; height:160px; width: 100%;" src="~/@Html.DisplayFor(modelitem => item.Image)">
                        <div class="eventInfo">
                            <h4>@Html.DisplayFor(modelItem => item.EventName) </h4>
                            <h5>
                                @Html.ActionLink(Html.DisplayFor(modelItem => item.VenueName).ToHtmlString(), "Details", "Venue", new { id = item.VenueId }, null)
                            </h5>
                            <h5>@Html.DisplayFor(modelItem => item.DateTime) </h5>
                            <h5>$@Html.DisplayFor(modelItem => item.Price) </h5>
                            <h5>
                                @Html.ActionLink("Details  ", "Details", new { id = item.EventId })

                                @{
                                    if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit  ", "Edit", new { id = item.EventId })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                                    }
                                }
                            </h5>
                            <button type="button" class="btn btn-secondary btn-sm">@Html.ActionLink("Purchase", "Create", "Ticket")</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
